/* App.css */

body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
  color: green;
  margin-bottom: 40px; /* Add some spacing between the header and form */
}

.form-container {
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px; /* Add some spacing between form groups */
}

.btn-primary {
  background-color: red;
  border-color: red;
}

.btn-primary:hover {
  background-color: white;
  color: red;
}
